*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right,#7bff7b,#d4ffd4 , #7bff7b);
}
.container {
    max-width: 600px;
    width:  95%;
    background-color: #d4ffd4;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 50px rgba(0,0,0,.2);
}
.container .tabs_area{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 18px;
    border-bottom: 2px solid #c9c9c9;
    padding: 5px 0;
    position: relative;
}
.tabs_area .tab_btn{
    padding: 5px 14px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 18px;
    font-weight: 550;
    cursor: pointer;
}
.line{
    position: absolute;
    bottom: -3.5px;
    left: 26px;
    width: 78px;
    height: 5px;
    border-radius: 10px;
    background-color: #00a500;
    transition: all .3s ease-in-out;
}
.tabs_content{
    padding: 0 10px;
    margin-top: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.tabs_content .content{
    display: none;
    animation:  fadeInUp .6s;
}
@keyframes fadeInUp {
    from{transform: translateY(13px); opacity:0}
    to{transform: translateY(0); opacity:1}
}
.tabs_content .content.active{
    display: block;
}

.tabs_content .content h1{
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 10px;
}